<title>Many mighty companies come together with a unified vision</title>
<link rel="stylesheet" type="text/css" href="/default/bundle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
<meta charSet="utf-8" />
<meta name="locale" content="en" />
<meta name="google" content="notranslate" />
<meta property="og:site_name" content="Airbnb" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="https://www.airbnb.com" />
<meta property="og:title" content="Vacation Rentals, Homes, Experiences &amp; Places - Airbnb" />
<meta property="og:description" content="Unforgettable trips start with Airbnb. Find adventures nearby or in faraway places and access unique homes, experiences, and places around the world." />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://a0.muscache.com/airbnb/static/logos/trips-og-1280x630-9de9c338cc3fd9b5663fb80be0cbe8c2.jpg" />
<meta name="description" content="Unforgettable trips start with Airbnb. Find adventures nearby or in faraway places and access unique homes, experiences, and places around the world." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Vacation Rentals, Homes, Experiences &amp; Places - Airbnb</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta id="english-canonical-url" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<link rel="canonical" href="https://www.airbnb.com/" />
<link rel="alternate" hrefLang="en" href="https://www.airbnb.com/" />
<link rel="alternate" hrefLang="de" href="https://www.airbnb.de/" />
<link rel="alternate" hrefLang="it" href="https://www.airbnb.it/" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Vacation Rentals, Homes, Experiences &amp; Places - Airbnb" />
<meta name="twitter:site" content="@airbnb" />
<meta name="twitter:app:name:iphone" content="Airbnb" />
<meta name="twitter:app:name:ipad" content="Airbnb" />
<meta name="twitter:app:name:googleplay" content="Airbnb" />
<meta name="twitter:app:id:iphone" content="401626263" />
<meta name="twitter:app:id:ipad" content="401626263" />
<meta name="twitter:app:id:googleplay" content="com.airbnb.android" />
<meta name="twitter:url" content="https://www.airbnb.com" />
<meta name="twitter:app:url:iphone" content="airbnb://" />
<meta name="twitter:app:url:ipad" content="airbnb://" />
<meta name="twitter:app:url:googleplay" content="airbnb://" />
<meta name="twitter:description" content="Unforgettable trips start with Airbnb. Find adventures nearby or in faraway places and access unique homes, experiences, and places around the world." />
<meta name="twitter:image" content="" />

<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="application-name" content="Airbnb" />
<meta name="apple-mobile-web-app-title" content="Airbnb" />
<meta name="theme-color" content="#ffffff" />
<meta name="msapplication-navbutton-color" content="#ffffff" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="msapplication-starturl" content="/?utm_source=homescreen" />
<link rel="apple-touch-icon" href="https://a0.muscache.com/airbnb/static/icons/apple-touch-icon-76x76-3b313d93b1b5823293524b9764352ac9.png" />
<link rel="apple-touch-icon" sizes="76x76" href="https://a0.muscache.com/airbnb/static/icons/apple-touch-icon-76x76-3b313d93b1b5823293524b9764352ac9.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://a0.muscache.com/airbnb/static/icons/apple-touch-icon-120x120-52b1adb4fe3a8f825fc4b143de12ea4b.png" />
<link rel="apple-touch-icon" sizes="152x152" href="https://a0.muscache.com/airbnb/static/icons/apple-touch-icon-152x152-7b7c6444b63d8b6ebad9dae7169e5ed6.png" />
<link rel="apple-touch-icon" sizes="180x180" href="https://a0.muscache.com/airbnb/static/icons/apple-touch-icon-180x180-bcbe0e3960cd084eb8eaf1353cf3c730.png" />
<link rel="icon" sizes="192x192" href="https://a0.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png" />
<link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="https://a0.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico" />

<link rel="prefetch" href="https://a0.muscache.com/airbnb/static/packages/f8fc-34c605a2.js" as="script" crossorigin="anonymous" />
